/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require leaflet.markercluster
 *= require leaflet.markercluster.default
 *= require_tree .
 *= require_self
 *= require leaflet
 *= require foundation_and_overrides
 */

@import 'leaflet';
@import 'leaflet.markercluster';
@import 'leaflet.markercluster.default';

.map {
  display: flex;
  height: 100vh;
  width: 100%;
}

.form {
  background-color: rgba(255,255,255,.85);
  height: auto;
  padding-bottom: 15px;
  position: fixed;
  right: 0;
  width: 20%;
  z-index: 999;
}

.clear-markers {
  background-color: green;
  margin-top: 15px;
  &:hover {
    background-color: green;
  }
}
